# Build files
**/build/
**/Pods/
**/Podfile.lock
**/.symlinks/
**/Flutter/ephemeral/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
